################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DevOpsSample.Deployment
/DevOpsSample.WebApp/bin/Debug/netcoreapp3.1
/DevOpsSample.WebApp/obj
/DevOpsSample.WebApi/bin
/DevOpsSample.WebApi/obj
/DevOpsSample.WebApi/Properties
/Arcus.Demo.WebAPI/bin/Debug/net6.0
/Arcus.Demo.WebAPI/obj
/Arcus.Demo.WebAPI/appsettings.Development.json
/media
/src/Application/.vs/DevOps.App
/src/Application/DevOps.Resources/bin/Debug
/src/Application/DevOps.Resources/obj/Debug
/src/Test/DevOps.App.Tests/bin/Debug/netcoreapp3.1
/src/Test/DevOps.App.Tests/obj/Debug/netcoreapp3.1
/src/Test/DevOps.App.Tests/obj/Release/netcoreapp3.1
/src/Test/DevOps.App.Tests/obj
